@import "variables";

// NORMALIZE

html,
body {
  height: 100%;
  background-image: url("../../assets/images/lol-background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

input,
button {
  border: none;
  background: none;
}

ul {
  list-style-type: none;
}

// TYPOGRAPHY

body {
  color: $rich-black;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  margin: 0 0 $gap-medium;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 $gap-medium;
}

h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
  margin: 0 0 $gap-small;
}

h4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin: 0 0 $gap-small;
}

p {
  margin: 0 0 $gap-medium;
}

a {
  text-decoration: none;

  &:link,
  &:active,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $caroline-blue;
  }
}

// LAYOUT

.default-main-container {
  @include content-padding;

  background-color: $light-gray;
  width: 100%;
  max-width: 920px;
  border-radius: 0 0 10px 10px;
  box-shadow: $container-box-shadow;
  padding-top: 48px;
}
