@import "variables";

.toolbar-wrapper {
  box-shadow: $container-box-shadow;
}

.toolbar {
  @include content-padding;
  background-color: $light-gray;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  margin: 0 $gap-large;

  .logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    user-select: none;
  }

  .logo-link {
    position: relative;
    display: block;
    text-align: center;

    &:hover {
      color: inherit;
    }

    .logo-title {
      display: block;
      text-transform: uppercase;
      text-shadow: $light-gray 0 0 5px;
      line-height: 16px;
      margin: 0;
      position: relative;
      z-index: 10;
      user-select: none;
    }

    .title-line-1 {
      font-size: 20px;
    }

    .title-line-2 {
      font-size: 14px;
      line-height: 14px;
    }

    .title-line-3 {
      font-size: 24px;
    }
  }
}

.nav {
  display: flex;

  .nav-list-item {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $rich-black;
    margin-right: $gap-medium;
    display: flex;
    padding: $gap-small $gap-large;
    border-radius: 8px;

    &:active,
    a:visited {
      color: $rich-black;
    }

    &:hover {
      color: $caroline-blue;
      background-color: $white;
    }
  }

  .active {
    color: $caroline-blue;
  }
}
